.button {
  height: 100px;
  width: 90px;
  border-radius: 7px;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
  margin: 5px;

  &__icon {
    margin: 25px 0 5px 0;
    background-color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }

  &__label {
    font-size: 15px;
  }
}
