.searchButton {
  position: relative;
  height: 120px;
  width: 110px;
  border-radius: 5px;
  outline: 0;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  padding: 0;
  background-color: transparent;

  &__container {
    height: 120px;
    width: 110px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__icon {
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 18px 0;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  &__favicon {
    width: 30px;
    height: 30px;
  }

  &__label {
    overflow: hidden;
    width: 90px;
    font-size: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__more {
    display: none !important;
    position: absolute !important;
    top: 4px;
    right: 4px;
    width: 20px;
    height: 20px;

    &__icon {
      width: 20px !important;
      height: 20px !important;
    }
  }

  &:hover {
    background-color: #80808023;

    .searchButton__more {
      display: inline-flex !important;
    }
  }

  &.-curr {
    .searchButton__label {
      color: white;
    }

    .searchButton__more__icon {
      color: white;
      border-radius: 50%;
    }

    .searchButton__icon {
      &:hover {
        width: 54px;
        height: 54px;
        margin: 18px 0 16px 0;
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
          0px 1px 1px 0px rgba(0, 0, 0, 0.14),
          0px 1px 3px 0px rgba(0, 0, 0, 0.12);
      }
    }
  }

  &.-dragOver {
    border: lightskyblue 1px solid;
  }

  &.-dragStart {
    background-color: transparent;

    .searchButton__container {
      display: none;
    }
  }
}

.letterIcon {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7e7e7ea8;

  &__letter {
    font-size: 22px;
    color: white;
  }
}

.-dark {
  .MuiPaper-root {
    background-color: #1d1d1d;
  }

  .searchButton {
    &__icon {
      background-color: #4f4f4f;
    }
  }
}
