.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 180px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__input {
    width: 80%;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 15px;
  }

  &__buttons {
    display: flex;
  }

  &__button {
    &.-primary {
      background-color: #404040;
      color: white;
      margin-left: 10px;
      text-transform: capitalize;

      &:hover {
        background-color: #000000;
      }
    }

    &.-secondary {
      color: black;
      text-transform: capitalize;
    }
  }

  &__checkbox {
    width: 160px;
  }

  &__link {
    cursor: pointer;
    text-decoration: underline !important;
  }

  &.-confirmation {
    height: 80px;
    width: 200px;
  }

  &.-addSearch {
    height: 190px;
  }

  &.-addCustom {
    height: 330px;
  }
}

.tooltip {
  width: 350px;
  border-radius: 5px;
  background-color: #000000da;
  margin: 10px;
  padding: 20px;
  font-size: 13px;

  &__url {
    &.-query {
      color: #ffaea3;
    }

    &.-prefix {
      color: #a4ffe1;
    }
  }

  &__row {
    display: flex;
    justify-content: center;
  }

  &__label {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;

    &.-query {
      width: 20%;
    }

    &.-prefix {
      width: 80%;
    }
  }
}

.-dark {
  .MuiFilledInput-underline:after {
    border-bottom-color: #3a97ee;
  }

  .MuiFormLabel-root.Mui-focused {
    color: #3a97ee;
  }

  .modal {
    &__button {
      &.-primary {
        background-color: #222222;

        &:hover {
          background-color: black;
        }
      }
  
      &.-secondary {
        background-color: #555555;

        &:hover {
          background-color: #5e5e5e;
        }
      }
    }
  }
}
