.searchbar {
  width: 550px;
  border-radius: 8px;

  &__input {
    width: 100%;
    background-color: transparent !important;
  }
}

.searchIcon {
  color: black;
}

fieldset {
  border: black 1px solid !important;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.MuiOutlinedInput-root {
  background-color: #ffffffe0;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  &:hover {
    background-color: white;
  }
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
  color: black !important;
}

.-dark {
  .searchIcon {
    color: white;
  }

  fieldset {
    border: #ffffffbd 1px solid !important;
  }

  .MuiOutlinedInput-root {
    background-color: #000000e0;

    &:hover {
      background-color: black;
    }
  }

  .MuiInputLabel-outlined.MuiInputLabel-shrink {
    color: white !important;
  }
}
