.app {
  position: absolute;
  height: 100%;
  width: 100%;

  &__corner {
    position: absolute;

    &.-topRight {
      top: 10px;
      right: 10px;
    }
  }

  &__dashboard {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -10%);
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &__logo {
      width: 320px;
      margin-bottom: 40px;
    }

    &__buttons {
      width: 95%;
      height: 40%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 10px;
    }
  }
}

.alertModal {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;

  .MuiButton-label {
    color: #ff4949;
  }
}

.-dark {
  .alertModal {
    .MuiSnackbarContent-root {
      background-color: #4e4e4e;
    }

    .MuiButton-label {
      color: #ff7171;
    }
  }
}
