.settings {
  &__icon {
    color: gray;
  }
}

.settingsCard {
  width: 250px;
  margin: 10px;
  font-size: 14px;
}

.-dark {
  .MuiSwitch-track {
    background-color: #d3d3d3 !important;
  }

  .MuiIconButton-root:hover,
  .MuiListItem-button:hover {
    background-color: #ffffff0a;
  }
}
